<div class='container'>

  <div class="col-md-4">
    <h2>Albums</h2>
    <% @albums.each do |album| %><br>
    <h3><%= link_to album.name , album_path(album.id)%></h3>
    Ranking:<%= album.rating %>
    <% end %>
    <br>
    <%= link_to "View all albums", albums_path %>
  </div>

  <div class="col-md-4">
    <h2>Books</h2>
    <% @books.each do |book| %><br>
    <h3><%= link_to book.name, book_path(book.id) %></h3>
    Ranking:<%= book.rating %>
    <% end %>
    <br>
    <%= link_to "View all books", books_path %>
  </div>

  <div class="col-md-4">
    <h2>Movies</h2>
    <% @movies.each do |movie| %><br>
    <h3><%= link_to movie.name , movie_path(movie.id)%></h3>
    Ranking:<%= movie.rating %>
    <% end %>
    <br>
    <%= link_to "View all movies", movies_path %>
  </div>
</div>
