<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="col-lg-12">
      <h2><%= locals.media.name %> <small>by: <%= locals.media.by %></small></h2>
      <h4>Ranked: <%= locals.media.votes %></h4>
      <p><%= locals.media.description %></p>

      <form action="/books" method="post">
        <input class="" type="hidden" name="upvote" value=<%= locals.media.id %> id="upvote">
        <input class="btn btn-primary" type="submit" value="Upvote">
      </form>

    </div>


    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
