<form action=<%= "/" + locals.type + "/update" %> method="post" class="edit-form">
  <label class="media-name">Name: <input class="media-name-textbox" type="text" name="name" value=<%= locals.media.name %> id="name"></label>
  <label class="media-by"><%= locals.madeBy %> by: <input class="media-by-textbox" type="text" name="by" value=<%= locals.media.by %> id="by"></label>
  <label class="media-description">Description: <input class="media-description-textbox" type="text" name="description" value=<%= locals.media.description %> id="description"></label>
  <input type="hidden" name=<%= locals.type + "_id" %> value=<%= locals.media.id %> id="upvote">


  <input type="submit" value="Update">
</form>
