<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>

    <h2><%= locals.type.toUpperCase() %></h2>

    <% for (let media of locals.media) { %>
      <p><%= media.name %></p>
      <p><%= media.by %></p>
      <p><%= media.description %></p>
      <p><%= media.votes %></p>
    <% } %>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
