<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Media Ranker</h1>
      <p>Ranking the best of everything</p>
    </header>

    <div class="row">

      <div class="col">
        <h1>Top Movies</h1>
        <div>
          <% for (var movie in movies) { %>
            <ul>
              <li><%= movies[movie].title %></li>
              <li>Ranking: <%= (parseInt(movie)+1) %></li>
              <li>Upvotes: <%= movies[movie].upvotes %></li>
            </ul>
          <% } %>
        </div>
      </div>

      <div class="col">
        <h1>Top Books</h1>
        <div>
          <% for (var book in books) { %>
            <ul>
              <li><%= books[book].title %></li>
              <li>Ranking: <%= (parseInt(book)+1) %></li>
              <li>Upvotes: <%= books[book].upvotes %></li>
            </ul>
          <% } %>
        </div>
      </div>

      <div class="col">
        <h1>Top Albums</h1>
        <div>
          <% for (var album in albums) { %>
            <ul>
              <li><%= albums[album].title %></li>
              <li>Ranking: <%= (parseInt(album)+1) %></li>
              <li>Upvotes: <%= albums[album].upvotes %></li>
            </ul>
          <% } %>
        </div>
      </div>

    </div>

  </body>
</html>





