<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--     <link rel='docs' href='/docs.json' /> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
    	<tr>
    		<th>Ranking</th>
    		<th>Name</th>
    		<th>Upvote</th>
    	</tr>
        <% for (var movie of movies) { %>
  			<tr>
      		<td>Ranked: <%= movie.ranking %></td>
        	<td><%= movie.title %></td>
				</tr>
        <% } %>
    </table>
  </body>
</html>