<h1>Colombian Media Ranking</h1>

<div class="row">
  <div class="col-sm-4">
    <h2>Top Movies</h2>
    <% @movies.each do |movie|%>
    <div class="thumbnail">

      <%= link_to article_path(movie) do %>
        <%= image_tag(movie.photo, alt: "") %>
        <div class="caption">
        <h4> <%= movie.title%> </h4>
      <% end %>

        <p> Ranked: <%= movie.ranking%> </p>
      </div>

    </div>
    <br>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h2>Top Books</h2>
    <% @books.each do |book|%>
    <div class="thumbnail">

    <%= link_to article_path(book) do %>
    <%= image_tag(book.photo, alt: "") %>
    <div class="caption">
    <h4> <%= book.title%> </h4>
    <% end %>

    <p> Ranked: <%= book.ranking%> </p>
    </div>
    </div>
    <br>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h2>Top Albums</h2>

    <% @albums.each do |album|%>
    <div class="thumbnail">
      <%= link_to article_path(album) do %>
        <%= image_tag(album.photo, alt: "") %>
        <div class="caption">
        <h4> <%= album.title%> </h4>
      <% end %>

      <p> Ranked: <%= album.ranking%> </p>
      </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
