<h1><%= @article.title%></h1>

<%= image_tag(@article.photo, alt: "") %>

<h2> Author: <%= @article.author%></h2>
<h3> Rancked: <%= @article.ranking%></h3>

<p> <%= @article.description%></p>

<%= form_for @article do |f| %>
<%= f.hidden_field :ranking, value: @article.ranking + 1 %>
<%=f.submit 'Upvote!', class: "btn btn-primary"%>
<% end %>


<%= button_to "Edit this " + @article.category.name, article_path(@article), class: "btn btn-default", method: :get%>

<%= button_to "Delete", article_path(@article), class: "btn btn-danger", method: :delete%>

<%if @article.category_id == 1 %>
<%= button_to "View all " + @article.category.name, movies_path, class: "btn btn-default", method: :get%>
<% elsif @article.category_id == 2 %>
<%= button_to "View all " + @article.category.name, books_path, class: "btn btn-default", method: :get%>
<% elsif @article.category_id == 2 %>
<%= button_to "View all " + @article.category.name, albums_path, class: "btn btn-default", method: :get%>
<%end %>

<%= button_to "View all media", root_path, class: "btn btn-success", method: :get%>
