<h2>Edit <%= @movie.title %></h2>
<%= form_for @movie, url: movie_path(@movie.id), method: :patch  do |f| %>
  <div class = "field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class = "field">
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div class = "field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <%= f.submit "Save" %>
<% end %>
