<table>
  <th> Ranking</th>
  <th> Name  </th>
  <th> Upvote </th>
  <% @movies.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.rank %> </td>
      <td> <%= link_to movie.name, movie_path(movie.id) %> </td>
      <td> <%= button_to "Upvote", { action: "update" , class: "upvote", id: movie.id}, method: "patch" %> </td>
    </tr>
  <% end %>
</table>

<%= button_to "View all Media", root_path, method: :get %>
<%= button_to "Add a Movie", new_movie_path, method: :get %>
