<table class="table table-hover">
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <%@movies.each do |movie|%>
      <tr>
        <td>Ranked: <%= movie.upvote%></td>
        <td><%=link_to movie.name, movie_path(movie.id)%></td>
        <td><%=link_to "Upvote", movie_upvote_path(movie), class: "btn btn-default", method: :put%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=link_to "View All Media", root_path, class: "btn btn-default"%>
<%=link_to "Add a Movie", new_movie_path, class: "btn btn-default"%>
