<h1><%= @movie.title %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<h3>Upvotes: <%= @movie.upvotes %></h3>

<p><%= @movie.description %></p>

<%= link_to "Upvote", upvote_movie_path(@movie.id), class: "btn btn-primary", method: :put %>
<button type="button" class="btn btn-default">Edit <%= @movie.title %></button>
<button type="button" class="btn btn-danger">Delete</button>
<button type="button" class="btn btn-default">View All Movies</button>
<button type="button" class="btn btn-default">View All Media</button>