<div class="top-movies">
  <h3>Top Movies</h3>
  <ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(movie.id) %> Ranked: <%= movie.upvotes %></li>
    <% end %>
  </ul>
  <%= link_to "View More Movies", movies_path %>
</div>

<div class="top-books">
  <h3>Top Books</h3>
  <ul>
    <% @books.each do |book| %>
      <li><%= link_to book.title, book_path(book.id) %> Ranked: <%= book.upvotes %></li>
    <% end %>
  </ul>
  <%= link_to "View More Books", books_path %>
</div>

<div class="top-albums">
  <h3>Top Albums</h3>
  <ul>
    <% @albums.each do |album| %>
      <li><%= link_to album.title, album_path(album.id) %> Ranked: <%= album.upvotes %></li>
    <% end %>
  </ul>
  <%= link_to "View More Albums", albums_path %>
</div>
