<div class="col-md-4">
  <h1>Top Movies</h1>

  <% @top_movies.each do |movie| %>
    <h2>
      <!--  THIS DOESN'T WORK !! -->
      <%= link_to movie.name, movie_path(movie.id) %>  Ranked: <%= movie.votes %><br>
    </h2>
  <% end %>
</div>

<div class="col-md-4">
  <h1>Top Books</h1>

  <% @top_books.each do |book| %>
    <h2>
      <%= book.name %> Ranked: <%= book.votes %><br>
    </h2>
  <% end %>
</div>

<div class="col-md-4">
  <h1>Top Albums</h1>

  <% @top_albums.each do |album| %>
    <h2>
      <%= album.name %> Ranked: <%= album.votes %><br>
    </h2>
  <% end %>

</div>
