<h2> Top Movies </h2>

<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.name, movie_path(movie.id) %>
    Votes: <%= movie.votes %></li>
  <% end %>
</ul>

<%= link_to "See more movies...", movies_path %>

<h2> Top Books </h2>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.name, book_path(book.id) %>
    Votes: <%= book.votes %></li>
  <% end %>
</ul>

<%= link_to "See more books...", books_path %>

<h2> Top Albums </h2>

<ul>
  <% @albums.each do |album| %>
    <li><%= link_to album.name, album_path(album.id) %>
    Votes: <%= album.votes %></li>
  <% end %>
</ul>

<%= link_to "See more albums...", albums_path %>
