<div class="row">
  <div class="col-md-4">
    <h2>Top Movies</h2>
    <% @movies.each do |movie| %>
      <h3><%= link_to movie.title, movie_path(movie.id) %>
        <small>Rank: <%= movie.rank %></small>
      </h3>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Top Books</h2>
    <% @books.each do |book| %>
      <h3><%= link_to book.title, book_path(book.id) %>
        <small>Rank: <%= book.rank %></small>
      </h3>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Top Albums</h2>
    <% @albums.each do |album| %>
      <h3><%= link_to album.title, album_path(album.id) %>
        <small>Rank: <%= album.rank %></small>
      </h3>
    <% end %>
  </div>
</div>