<h1><%= @book.title %></h1>
<h2>Written by: <%= @book.author %></h2>
<h3>Upvotes: <%= @book.upvotes %></h3>

<p><%= @book.description %></p>

<%= link_to "Upvote", upvote_book_path(@book.id), class: "btn btn-primary", method: :put %>
<%= link_to "Edit #{@book.title}", edit_book_path(@book.id), class: "btn btn-default" %>
<%= link_to "Delete", book_path(@book.id), class: "btn btn-danger", method: :delete %>
<%= link_to "View All Books", books_path, class: "btn btn-default" %>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>