<%= @book.title %>
<%= @book.author %>
<%= @book.rank %>

Edit

Delete

View All Movies

View All Media 



<h1>
  Title: <%= @book.title %>
</h1>
<h2>
  Author: <%= @book.author %>
</h2>
<h3>
  Ranking: <%= @book.rank %>
</h3>

<p><%= @book.description %></p>

<%= link_to "Upvote", rank_book_path(@book.id), class: "btn btn-primary", method: :put %>
<%= link_to "Edit #{@book.title}", edit_book_path(@book.id), class: "btn btn-default" %>
<%= link_to "Delete", book_path(@book.id), class: "btn btn-danger", method: :delete %>
<%= link_to "View All Books", books_path, class: "btn btn-default" %>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>