<h1> <strong><%= @book.name %></strong> Written By: <%= @book.author %> </h1>
  <h3>Ranked: <%= @book.rank %> </h3>
  <h4> <%= @book.description %> </h4>

<%= button_to "Upvote", { action: "update", class: "upvote" },  method: :patch %>
<%= button_to "Edit #{@book.name}", { action: "edit", id: @book.id },  method: :get %>
<%= button_to "Delete", action: "destroy", id: @book.id %>
<%= button_to "View All Books", books_path, method: :get%>
<%= button_to "View All Media", root_path, method: :get %>
