<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Votes</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>

    <% @albums.each do |a| %>
      <tr>
        <td><%= a.upvotes %></td>
        <td><%= link_to a.title, album_path(a.id) %></td>
        <td><%= link_to "Upvote", upvote_album_path(a.id), class: "btn btn-default", method: :put %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "View All Media", root_path, class: "btn btn-default" %>
<%= link_to "Add an Album", new_album_path, class: "btn btn-default" %>