<h1><%= @album.name %></h1>
<h2>Recorded By: <%= @album.artist %></h2>
<h4>Ranked: <%= @album.rating %> </h3>
<h4>Description: <%= @album.description %></h3>
<%= link_to "Upvote", upvote_album_path(@album.id), method: :patch, class: "btn btn-default" %>
<%= link_to "Edit", edit_album_path(@album.id), method: :get, class: "btn btn-primary" %>
<%= link_to "Delete", delete_album_path(@album.id), method: :delete, class: "btn btn-danger",  data: {confirm: 'Are you sure?'} %>
<%= link_to "View all albums", albums_path, method: :get, class: "btn btn-default" %>
<%= link_to "View all media", root_path, method: :get, class: "btn btn-default" %>
