<h1><%= @album.name %></h1>
<h2>Recorded By: <%= @album.artist %></h2>
<h3>Ranked: <%= @album.rating %> </h3>
<%= @album.description %>
<%= button_to "Upvote", update_album_path(@album.id), method: :patch, class: "btn btn-primary" %>
